[submodule "graphhopper-ios-sample/mbxmapkit"]
	path = graphhopper-ios-sample/mbxmapkit
	url = https://github.com/mapbox/mbxmapkit
[submodule "dependencies/hppc"]
	path = dependencies/hppc
	url = https://github.com/carrotsearch/hppc/
[submodule "dependencies/jts"]
	path = dependencies/jts
	url = https://github.com/locationtech/jts.git
[submodule "graphhopper"]
	path = graphhopper
	url = https://github.com/bikemap/graphhopper.git
	branch = ios_compatibility
[submodule "dependencies/jackson/core"]
	path = dependencies/jackson/core
	url = https://github.com/FasterXML/jackson-core.git
[submodule "dependencies/jackson/databind"]
	path = dependencies/jackson/databind
	url = https://github.com/FasterXML/jackson-databind.git
[submodule "dependencies/jackson/annotations"]
	path = dependencies/jackson/annotations
	url = https://github.com/FasterXML/jackson-annotations.git
[submodule "dependencies/fastdoubleparser"]
	path = dependencies/fastdoubleparser
	url = https://github.com/wrandelshofer/FastDoubleParser.git
